form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--brand);
    border-radius: var(--radius);
}

form input {
    width: 100%;
    height: var(--height);
    margin-bottom: 1rem;
    font-size: 1rem;
}

.button {
    width: 60%;
    color: var(--white);
    height: var(--height);
    border-radius: var(--radius);
    font-size: 1rem;
    border: none;
    background-color: var(--secondary);
    cursor: pointer;
}

.invalid {
    border: 2px solid var(--invalid);
}