:root {
    --white: #fff;
    --brand: rgb(143, 130, 222);
    --secondary: rgb(86, 74, 145);
    --invalid: #f81d1d;
    --radius: 2rem;
    --height: 2rem;
    --width: 60rem;
}

.main {
    position: relative;
    width: 100%;

}

.content {
    max-width: 60rem;
    padding: 2rem;
    margin: 0 auto;
}

.list {
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--brand);
    border-radius: var(--radius);
}

.list-item {
    list-style: none;
}
