:root {
    --white: #fff;
    --brand: rgba(22, 61, 255, 0.3);
    --secondary: rgb(86, 74, 145);
    --invalid: #f81d1d;
    --radius: 2rem;
    --height: 2rem;
}

.main {
    width: 100%;
    max-width: 60rem;
    margin: 2rem auto;
}

.list {
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--brand);
    border-radius: var(--radius);
}

.list-item {
    list-style: none;
}
